  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            <h3 class="modal-title"><center>INFORMACIÓN DEL CARGO</center></h3>
        </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-md-6">   
                <strong><center>Nombre:</center></strong>
                <center><%= @cargo.nombre %></center>
              </div>
              <div class="col-md-6">
                <strong><center>Dependencia:</center></strong>
                <center><%= @cargo.dependencia %></center>
              </div>
            </div>
              <div class="modal-footer"></div>
          </div>
      </div>
    </div>
  </div>
<%#Terminado, formulario que muestra la ventana modal.#%>