<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
      	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
        	<span aria-hidden="true">&times;</span>
      	</button>
      	  <h3 class="modal-title"><center>INFORMACIÓN DEL EVENTO</center></h3>
    	</div>
    	<div class="modal-body">
      	<div class="row">
          <div class="col-md-3">        
            <strong>Nombre:</strong>
            <%= @evento.asunto %>
          </div>
          
          <div class="col-md-3">
            <strong>Fecha:</strong>
            <%= @evento.fecha %>
          </div>
          
          <div class="col-md-3">
            <strong>Hora:</strong>
            <%= @evento.hora %>
          </div>
          
          <div class="col-md-3">
            <strong>Ubicacion:</strong>
            <%= @evento.ubicacion %>
          </div>
          
	      </div>
      	  <div class="modal-footer"></div>
  	  </div>
    </div>
  </div>
</div>


