<br>
<p>
  <strong>Usuario:</strong>
  <%= @usuario.usuario %>
</p>

<p>
  <strong>Contraseña:</strong>
  <%= @usuario.contraseña %>
</p>

<td><%= link_to '<i class="fa fa-pencil-square fa-2x" aria-hidden="true"></i>'.html_safe, edit_usuario_path(@usuario) %></td>
<br>
<br>
<td><%= link_to '<i class="fa fa-reply fa-2x" aria-hidden="true"></i>'.html_safe, usuarios_path %></td>
