// import the CSS framework
@import "bootstrap-sprockets";
@import "bootstrap";

// make all images responsive by default
//para que todas las imágenes sean de modo responsive 
img {
  @extend .img-responsive;
  margin: 0 auto;
  }
  
// override for the 'Home' navigation link
.navbar-brand {
  font-size: inherit;
  }
  
// THESE ARE EXAMPLES YOU CAN MODIFY
// create your own classes
// to make views framework-neutral
.column {
  @extend .col-md-6;
  @extend .text-center;
  }
.form {
  @extend .col-md-6;
  @extend .text-center;
  }
.form-centered {
  @extend .col-md-6;
  @extend .text-center;
  }
.submit {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-lg;
  }
// apply styles to HTML elements
// to make views framework-neutral
main {
  @extend .container;
  background-color: #ebfafa;//color del recuadro blanco en el centro de las vistas.
  padding-bottom: 200px;//largo del recuadro blanco en el centro de las vistas
  width: 80%;//Ancho recuadro blanco en el centro de las vistas
  margin-top: 60px; //margen debajo de la barra de navegacion
  //
  }
section {
  @extend .row;
  margin-top: 10px;
  }
