.mini_m {
	width: 80px;
	height:70px;
	padding: 6px 9px 6px 9px;
}

.logmed{
	width: 600px;
	//ancho
	height: 120px;
	//alto
}

.logo{
	width: 750px; 
}

.logo1{
	width: 445px; 
	height:180px;
}

.logo2{
	width: 500px; 
	height:250px;
}

.h4{
	font-family: arial;
	background-color: black;
}

body{
/* IE10+ */ 
background-image: -ms-linear-gradient(bottom, #FFFFFF 0%, #706565 100%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(bottom, #FFFFFF 0%, #706565 100%);

/* Opera */ 
background-image: -o-linear-gradient(bottom, #FFFFFF 0%, #706565 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #FFFFFF), color-stop(100, #706565));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(bottom, #FFFFFF 0%, #706565 100%);

/* W3C Markup */ 
background-image: linear-gradient(to top, #FFFFFF 0%, #706565 100%);
	
}

.logo_f {
	width:60px;
	height:70px;
	padding: 6px 9px 6px 9px;/*alrededor de una imagen o una palabra*/
}

.nomb{
	padding: 2px 7px 2px 7px;
	}

.color{
	background: blue;
}

.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

/* Modal Footer */
.modal-footer {
    padding: 2px 16px;
    background-color: #20B2AA;
    color: white;
    width:870px;
	height:40px;
}

