<footer class="footer navbar-fixed-bottom">

    <center>
      <blockquote>
        <p>Centro de Formación en Diseño, Confección y Moda</p>
        <small><b>CODASIS</b> <cite title="Source Title">Control y Registro de Asistencia</cite></small>
        <%= image_tag('logo_senn.png', class:'img-responsive logo_f') %>
      </blockquote>
    </center>
  
</footer>