<footer class="footer navbar-fixed-bottom">
    <center>
        <%#= image_tag("gat-footer.png", class:'img-responsive pb')%>
        <%#= image_tag("codasis-02.png", class:'img-responsive pb')%>
        <%#<p><b>Control y Registro de Asistencia</b></p>
        <p>Centro de Formación en Diseño, Confección y Moda</p>
        <p>COPY @ 2016 Derechos Reservados PSY.com</p>
    </center>#%>
</footer>

